body{
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-size: 16px;
}

/*FONTS*/
@font-face{
	font-family: 'DE3';
	src: url(assetsforsecuredrop/GdnEgyDE3Reg.otf);
}

@font-face{
	font-family: 'DE5';
	src: url(assetsforsecuredrop/GdnEgyDE5Sem.otf);
}

@font-face{
	font-family: 'textsans';
	src: url(assetsforsecuredrop/GdnSanDS3Reg.otf);
}


/*Header and footer*/

header, footer{
	background: #005689;
	height: 48px;
}

header img, footer img{
	float: right;
	padding: 10px 10% 10px 0;
}

a{
	color: #005689;
	text-decoration: none !important;
  	border-bottom: 0.0625rem solid #dcdcdc;
  	border-bottom-width: 0.0625rem;
  	border-bottom-style: solid;
  	border-bottom-color: rgb(220, 220, 220);
}


/*Intro styles*/

.introcontainer{
       background: #1878a5;
}

.intro{
       background: #197CAA;
       width: 85%;
       margin: 0 auto;        
}

.intro h1, .intro p{
	font-family:'DE3';
	width: 700px;
	margin: 0 auto;	
	color: #fff;
}

.intro h1{
	font-size: 3em;
	line-height: 1em;
	padding: 36px 0 24px 0;
}

.intro p{
	font-size: 1.125em;
	line-height: 1.5em;
	padding: 0 0 36px 0;
}

.intro a {
	color: #fff;
	font-weight: bold;
}


.intro span{
	font-family:'DE5';
}

.instructionscontainer{
  background: #f7f7f7;
}

.instructions{
  background: #FFF;
  width: 85%;
  margin: 0 auto;        
}


.instructions h2, .instructions p, li, .pgp h2, .pgp p, .terms p, .terms h2, .subfooter, .about{	
	color: #333;
	width: 700px;
	margin: 0 auto;	
}

.instructions p, .instructions li, .about p, .pgp p, .terms p{
	line-height: 1.4;
  font-family: 'DE3';
  font-size: 16px;
}

h2{
	font-family:'DE5';
	padding: 32px 0 20px 0;
	font-size: 1.25em;
}

.instructions h2:nth-of-type(2){
	padding-top: 10px;
}

p{
	padding-bottom: 36px;
}

.pgpcontainer{
       background: #c6e1ef;
}

.pgp{
       background: #cce8f7;
       width: 85%;
       margin: 0 auto;        
}

.pgp p:last-child{
	padding-bottom: 48px;
}

ol.circles-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
    margin: 0;
    margin-left: 4em;
    padding: 0;
    counter-reset: li-counter;
}
ol.circles-list > li{
    position: relative;
    margin-bottom: 24px;
    padding-left: 5em;
    min-height: 3em;
}
ol.circles-list > li:before {
    position: absolute;
    top: 0;
    left: -0.1em;
    width: 1.5em;
    height: 1.5em;
    font-size: 2.5em;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #4bc6df;
	font-family:'DE3';
    content: counter(li-counter);
    counter-increment: li-counter;
}

ol.circles-list > li:after{
	font-size: 16px;
}

.pgplink{
	font-family: 'textsans';
	font-size: 14px;
	background: #005689;
	color: #fff;
	padding: 11px 45px 11px 22px;
  	border-radius: 20px;
  	position: relative;
  	text-decoration: none;
}

a.pgplink:after {
      content: url(assetsforsecuredrop/right-arrow.svg);
      padding-left: 1em;
      position: absolute;
      top: 9px;
    }

.termscontainer{
       background: #f7f7f7;
}

.terms{
       background: #FFF;
       width: 85%;
       margin: 0 auto;        
}

.terms p{
	font-family: 'textsans';
	font-size: 14px;
	padding-bottom: 26px;
}

.terms ul{
	padding-bottom: 16px;
}

.footercontainer{
       background: #005385;
}

.footer{
       background: #005689;
       width: 85%;
       margin: 0 auto;        
}

footer a img{
	border: 0.0625rem solid rgba(255,255,255,0.3);
	border-radius: 50%;
	float: left;
	width: 25px;
	height: 25px;
	padding: 5px;
	margin:4px 0 0 100px;
	
}

footer a p{
	font-family:'DE3';
	font-size: 16px;
	padding: 16px 0 0 10px;
	float: left;
	color: #fff;
}

.subfooter p{
	font-family:'textsans';
	font-size: 14px;
	padding-top: 20px;
}

/*@media styles//////////////////////////////////////////////////////////*/

@media (max-width: 900px) {
 .intro h1, .intro p{
   width: 80%;
 }
 .intro h1{
   font-size: 44px;
 }
 .instructions h2, .instructions p, li, .pgp h2, .pgp p, .terms p, .terms h2, .subfooter, .about{
	width: 80%;
 }
 ol.circles-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
    margin: 0;
    margin-left: 1.5em;
    padding: 0;
    counter-reset: li-counter;
 }
 ol.circles-list > li{
    position: relative;
    margin-bottom: 24px;
    padding-left: 5em;
    min-height: 3em;
 }
 ol.circles-list > li:before {
    position: absolute;
    top: 0;
    left: 0.5em;
    width: 1.3em;
    height: 1.3em;
    font-size: 2.2em;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #4bc6df;
	font-family:'DE3';
    content: counter(li-counter);
    counter-increment: li-counter;
 }
}

@media (max-width: 750px) {
 .intro h1, .intro p{
   width: 80%;
 }
 .intro h1{
   font-size: 38px;
   padding: 24px 0 24px 0;
 }

 .intro p{
	font-size: 1.125em;
	line-height: 1.5em;
	padding: 0 0 24px 0;
}
 .instructions h2, .instructions p, li, .pgp h2, .pgp p, .terms p, .terms h2, .subfooter, .about{
	width: 80%;
 }

 h2{
	padding: 24px 0 20px 0;
}

p{
	padding-bottom: 24px;
}

 ol.circles-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
    margin: 0;
    margin-left: 1.5em;
    padding: 0;
    counter-reset: li-counter;
 }
 ol.circles-list > li{
    position: relative;
    margin-bottom: 24px;
    padding-left: 5em;
    min-height: 3em;
 }
 ol.circles-list > li:before {
    position: absolute;
    top: 0;
    left: 0.5em;
    width: 1.3em;
    height: 1.3em;
    font-size: 2.2em;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #4bc6df;
	font-family:'DE3';
    content: counter(li-counter);
    counter-increment: li-counter;
 }
 .pgp p:last-child{
	padding-bottom: 38px;
 }

}

@media (max-width: 400px) {

.introcontainer{
       background: #197CAA;
}
 .intro h1, .intro p{
   width: 100%;
 }
 .intro h1{
   font-size: 28px;
   padding: 12px 0 12px 0;
 }

 .intro p{
	font-size: 1em;
	line-height: 1.4em;
	padding: 0 0 18px 0;
}

.instructionscontainer{
  background: #fff;
}

 .instructions h2, .instructions p, 
 .pgp h2, .pgp p, .terms p, .terms h2, .subfooter, .about{
	width: 100%;
 }

.instructions h2, .instructions p, li, .pgp h2, .pgp p, .terms p, .terms h2, .subfooter, .about{
	width: 100%;
 }


h2{
	padding: 18px 0 18px 0;
}

p{
	padding-bottom: 18px;
}

ol.circles-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
    margin: 0;
    margin-left: 0;
    padding: 0;
    counter-reset: li-counter;
 }

ol.circles-list > li{
    position: relative;
    margin-bottom: 18px;
    padding-left: 3em;
    min-height: 3em;
 }

ol.circles-list > li:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.8em;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #4bc6df;
	font-family:'DE3';
    content: counter(li-counter);
    counter-increment: li-counter;
 }

.pgpcontainer{
       background: #cce8f7;
}

.pgp p:last-child{
	padding-bottom: 34px;
 }

.termscontainer{
       background: #FFF;
}

.footercontainer{
       background: #005689;
}

.footer{
       width: 100%;      
}


footer a img{
  margin:4px 0 0 30px; 
}

.subfooter p{
  font-family:'textsans';
  font-size: 14px;
  padding: 12px 0 0 30px;
}


}

